:root {
   --blush-roze: #FFE1EC;
   --lavanda: #D9D9F7;
   --mint-zelena: #DAF7E6;
   --krem: #FFF6E5;
}
body {
    background-color: var(--blush-roze)
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}
#navigacija {
    background-color: var(--krem);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
#navigacija a {
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}
.ukras {
    position: absolute;
    top: -110px;
    z-index: -1;
    width: 600px;
}
.ukras-desno {
    position: absolute;
    top: -110px;
    z-index: -1;
    width: 600px;
    right: 0;
}
/*POZIVNICA*/
#pozivnica {
    padding: 20px;
    width: 60%;
    margin: 80px auto;
    box-shadow: 10px 10px 20px black;
    background-color: var(--lavanda);
}
#pozivnica p {
    font-size: 30px;
    font-family: "DynaPuff";
    text-align: center;
    letter-spacing: 5px;
    line-height: 60px;
    color: var(--krem);
}
/*ORGANIZACIJA*/
#organizacija {
    margin: 10px auto;
    width: 50%;
}
#organizacija h1 {
    text-align: center;
}
.organizacija-elementi img {
    width: 200px;
}
.organizacija-elementi {
    display: flex;
    justify-content: center;
    gap: 60px;
}
.org {
    padding: 10px;
    text-align: center;
    background-color: var(--mint-zelena);
    box-shadow: 10px 10px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.org:hover {
    transform: translateY(-2px);
}
.org p {
    margin: 0 auto;
}
form {
    background-color: var(--lavanda);
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
form input[type="text"] {
    display: block;
    margin: 10px auto;
    border: none;
    padding: 5px;
}
form button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: var(--krem);
    color: var();
    border: none;
}
form button:hover {
    cursor: pointer;
    transform: translateY(-2px);

}
